*{
    margin: 0;
    padding: 0;
}

.navigation-bar .container {
    width: 100%;
    height: 60px;
    background-color: hwb(0 100% 0%);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navigation-bar .logo {
    display: flex;
    align-items: center;
}

.navigation-bar .logo img {
    height: 40px;
    margin-right: 10px;
}

.navigation-bar .nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
    padding: 0;
}

.navigation-bar .nav-links ul li a {
    text-decoration: none;
    color: #000;
}

.navigation-bar .nav-links ul li a:hover {
    color: #007bff;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #000;
}

@media (max-width: 768px) {
    .navigation-bar .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black; /* Changed background color to black */
        color: white; /* Set text color to white */
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
        padding: 10px; /* Add padding if needed */
        padding-bottom: 25px;
        padding-top: 25px;
        box-sizing: border-box; /* Ensure padding is included in width */
    }

    .navigation-bar .container .logo {
        display: none;
    }

    .navigation-bar .nav-links ul {
        flex-direction: column;
        gap: 15px;
        margin: 0; /* Remove right margin */
        padding: 0; /* Remove padding */
        list-style-type: none; /* Remove default list styling */
    }

    .navigation-bar .nav-links ul li a {
        color: white; /* Set link color to white */
        text-decoration: none; /* Remove underline from links */
    }

    .hamburger-menu {
        display: flex;
    }

    .navigation-bar .nav-links.active {
        display: flex;
    }
}

/* landing-page section */

 

.landing-page {
    height: 80% !important;
    background-color: #F5F5F5;    
}

.landing-page .container {
    display: flex;  
    justify-content: space-between; 
    align-items: center;  
    max-width: 1200px; 
    margin: 0 auto; 

}

.landing-page .chatshop {
    padding-top: 14%;
    width: 40%;
    /* flex: 1; Take up available space */
    padding-right: 10px; /* Padding on the right side */
    align-self: self-start;
    margin-left: 20px;
}

.landing-page .chatshop h1 {
    font-weight: 700;
    font-style: outfit;
    font-size: 50px;  
    color: #080808;
    line-height: 75px;
    margin-bottom: 30px; 
}

.landing-page .chatshop small {
    padding-top: 0;
    font-size: 22px; 
    color: #080808 !important;
    display: block; 
    margin-bottom: 20px; 
    font-weight: 600;
    font-style: Roboto;
    line-height: 29.3px;
    
}

.landing-page .chatshop button {
    background-color: #4BA0F4;
    width: 210px;
    width: calc(300px -300px);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.landing-page .chatshop button:hover {
    background-color: #0056b3; 
}

.landing-page .logo {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
    display: flex; 
    align-items: self-start;
}

.landing-page .logo img {
    max-width: 100%; 
   
}

/* Mobile Styles */
@media (max-width: 768px) {
    .landing-page .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .landing-page .chatshop {
        width: 100%;
        padding-top: 10%;
        margin-left: 0;
    }

    .landing-page .chatshop h1 {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 20px;
    }

    .landing-page .chatshop small {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .landing-page .chatshop button {
        width: 80%;
        padding-top: 10px;
        padding: 12px 0;
    }

    .landing-page .logo {
        margin-top: 20px;
        justify-content: center;
        width: 100%;
    }

    .landing-page .logo img {
        width: 70%; 
        height: auto;
    }
}


/* Styles for the recommendations section */
.recommendations .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: relative;
}

.recommendations .container > div {
    width: 150px;
    height: 80px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px !important; /* Added border-radius */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 14px;
    position: relative;
    transform: rotate(-2deg);
    animation: float 5s ease-in-out infinite;
}

.recommendations .container > div:hover {
    transform: scale(1.1) rotate(0deg) !important; /* Zoom out and straighten on hover */
}

.recommendation-content1 {
    border: 3px solid;
    border-image: linear-gradient(45deg, #EA4335, #84261E) 1;
    border-radius: 12px !important; /* Added border-radius */
}

/* .recommendation-content{
    border-color: linear-gradient(45deg, #EA4335, #84261E) 1 ;
} */

.recommendation-content2 {
    border: 3px solid;
    border-image: linear-gradient(45deg, #00ACC1, #00515B) 1;
    border-radius: 12px !important; /* Added border-radius */
}

.recommendation-content3 {
    border: 3px solid;
    border-image: linear-gradient(45deg, #FBBC05, #957003) 1;
    border-radius: 12px !important; /* Added border-radius */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(-2deg);
    }
    50% {
        transform: translateY(-10px) rotate(2deg);
    }
}

.recommendations small{
    color: #000 !important;
    font-size: 17px;
}


/* Styles for the Unlocking Effortless Shopping section */


.unlocking-effortless-shopping {
    background-color: #f5f5f5;  
    padding: 50px 0; 
    text-align: center;  
}

.unlocking-effortless-shopping .container {
    max-width: 1200px;  
    margin: 0 auto;  
    padding: 0 20px;  
}

.unlocking-effortless-shopping h1 {
    font-size: 2.5rem;  
    color: #333;  
    margin-bottom: 40px; 
}

.unlocking-effortless-shopping .steps {
    display: flex;  
    flex-direction: column;  
    gap: 20px; 
}

.unlocking-effortless-shopping .step {
    background-color: #fff; 
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    display: flex;  
    align-items: center; 
    justify-content: space-between; 
    text-align: left; 
}

.unlocking-effortless-shopping .step p {
    font-size: 1.5rem; 
    color: #333; 
    margin: 0; 
    flex: 1; 
}

.unlocking-effortless-shopping .step img {
    max-width: 50%;  
    height: auto;  
    border-radius: 10px; 
}

@media (max-width: 768px) {
    .unlocking-effortless-shopping .steps {
        flex-direction: column;  
    }
    
    .unlocking-effortless-shopping .step {
        flex-direction: column; 
        text-align: center;
    }
    
    .unlocking-effortless-shopping .step img {
        max-width: 100%; 
        margin-top: 20px; 
    }
}


/* Styles for the Personal Mini Mart section */
.personal-mini-mart {
    background-color: #f5f5f5;  
    padding: 50px 0;  
    text-align: center;  
}

.personal-mini-mart .container {
    max-width: 1200px;  
    margin: 0 auto;  
    padding: 0 20px;  
}

.personal-mini-mart .mini-mart {
    background-color: #fff;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    display: inline-block;  
    padding: 20px;  
}

.personal-mini-mart .mini-mart img {
    max-width: 100%;  
    height: auto;  
    border-radius: 10px; 
}

@media (max-width: 768px) {
    .personal-mini-mart {
        padding: 30px 0;  
    }
    
    .personal-mini-mart .mini-mart {
        padding: 15px;  
    }
}



/* Styles for the Ultimate Shopping Companion section */
.ultimate-shopping-companion {
    background-color: #f5f5f5;  
    padding: 50px 0; 
    text-align: center;  
}

.ultimate-shopping-companion .container {
    max-width: 1200px;  
    margin: 0 auto;  
    padding: 0 20px;  
}

.ultimate-shopping-companion .container h1 {
    font-size: 40px; 
    color: #080808 !important; 
    margin-bottom: 10px; 
    font-weight: 700;
    line-height: 20px;
    align-items: center;
}

.ultimate-shopping-companion .container p {
    padding-top: 15px;
    font-size: 25px;
    color: #080808 !important; 
    display: block; 
    margin-bottom: 40px; 
    font-weight: 500;
    line-height: 10px;
}

.ultimate-shopping-companion .AI-chat-features {
    display: flex; 
    flex-direction: column; 
    align-items: center;  
}

.ultimate-shopping-companion .features-row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.ultimate-shopping-companion .features {
    width: calc(50% - 20px); 
    height: 300px; 
    background-color: #000; 
    color: #fff !important; 
    padding: 20px; 
    border-radius: 15px; 
    box-sizing: border-box;  
    text-align: center;  
    opacity: 0;  
    transform: translateY(20px);  
    transition: all 0.5s ease-in-out; 
}

.ultimate-shopping-companion .features h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.ultimate-shopping-companion .features small {
    font-size: 1rem; /* Font size for the small text */
}

@media (max-width: 768px) {
    .ultimate-shopping-companion .features {
        width: 100%; 
    }
    .ultimate-shopping-companion .container p{
        padding-top: 15px;
        font-size: 25px;
        color: #080808 !important; 
        display: block; 
        margin-bottom: 40px; 
        font-weight: 500;
        line-height: 30px;
    }

    .ultimate-shopping-companion .container h1{
        font-size: 30px; 
        color: #080808 !important; 
        margin-bottom: 10px; 
        font-weight: 600;
        line-height: 30px;
        align-items: center;
    }
}

/* Animation trigger on scroll */
.ultimate-shopping-companion .features.scroll-reveal {
    opacity: 1;  
    transform: translateY(0); 
}

.features h2, small{
    text-align: center;
    color: #fff !important;
    padding-top: 15%;
    font-weight: 600;
}

.features h2{
    font-size: 35px !important;
    text-align: center;
    align-items: center;
}

.features small{
    font-size: 20px !important;
    color: #fff !important;
    text-align: center !important;
    align-items: center !important;
}

/* Footer section design */

.footer-section {
    background-color: #000;
    color: #fff;
    padding-top: 15px;
    /* padding: 40px 0; */
    margin-left: 0;
    padding-left: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 20px;
}

.footer-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 0;
}

.footer-section .logo {
    display: flex;
    align-items: center;
}

.footer-section .logo img {
    height: 50px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.footer-section .logo img:hover {
    transform: scale(1.1);
}

.footer-section .logo h3 {
    font-size: 1.5em;
    margin: 0;
}

.footer-section .nav-links {
    display: flex;
    gap: 20px;
}

.footer-section .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
}

.footer-section .nav-links a:hover {
    color: #ff6347;
    border-bottom: 2px solid #ff6347;
}

.footer-section .nav-icons {
    display: flex;
    gap: 15px;
}

.footer-section .nav-icons a {
    display: inline-block;
    transition: transform 0.3s;
}

.footer-section .nav-icons img {
    height: 30px;
}

.footer-section .nav-icons a:hover {
    transform: scale(1.2);
}

.footer-section .footer-copyright {
    text-align: center;
    margin-top: 20px;
}

.footer-section p {
    font-size: 0.9em;
    color: #aaa;
}

@media (max-width: 768px) {
    .footer-section .container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-section .nav-links {
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;
    }
}



/* Ready section */


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.ready {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.ready .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.ready h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.ready small {
    display: block;
    margin-bottom: 20px;
    color: #000 !important;
    padding-top: 0;
    font-size: 25px;
}

.ready button {
    background-color: #4BA0F4;
    width: 210px;
    width: calc(300px -300px);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ready button:hover {
    background-color: #e55347;
}

.ready .shop-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

.ready .shop-image img {
    width: 20%;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: shake 1s infinite;
}

.ready .shop-image img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .ready .shop-image img {
        width: 80%;
        margin-bottom: 20px;
    }
}
